
li{
  list-style-type: none;
  cursor: pointer;
}

li:hover{
  color: white;
}
body{
  background-color:whitesmoke;
  overflow-x: hidden;
  /* margin:0 1rem; */
}
/* For modern browsers with scrollbar customization support */
.container::-webkit-scrollbar {
  height: 8px; /* Adjust the height of the scrollbar */
}

.container::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #f00, #00f); /* Gradient color */
  border-radius: 10px; /* Rounded corners */
}

.container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Track background with transparency */
  border-radius: 10px;
}

/* For Firefox using scrollbar-gutter */
.container {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: black rgba(255, 255, 255, 0.1); /* Thumb color and track color */
}

.man{
  width: 400px;
}
.text-stroke{
-webkit-text-stroke: 1px black;
color: transparent
}
